# Coursera Capstone

This notebook will be primarily used for the Coursera IBM Data Science Specialization Capstone Project

In [ ]:
#!conda install -c conda-forge xmltodict --yes

In [28]:
import pandas as pd
import numpy as np
import requests
import json
import xmltodict
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Foursquare Credentials

In [29]:
CLIENT_ID = '3B3T4ZAT2ADVQ15YL0QJ3H2DUFNYLBQ3W4J4KJWI5WDVG0PE' # your Foursquare ID
CLIENT_SECRET = 'YGXJYCHEJ410LTZKYP5FGQF4C1GQTOBTGMP0EJC1YTINVTSF' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30

zid = "X1-ZWz1hiqecilyq3_1mzvh" #zillow id

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 3B3T4ZAT2ADVQ15YL0QJ3H2DUFNYLBQ3W4J4KJWI5WDVG0PE
CLIENT_SECRET:YGXJYCHEJ410LTZKYP5FGQF4C1GQTOBTGMP0EJC1YTINVTSF

In [63]:
zurl = "http://www.zillow.com/webservice/GetRegionChildren.htm?zws-id={}&state=oh&city=cleveland&childtype=neighborhood".format(zid)
print(zurl)
results = xmltodict.parse(requests.get(zurl).content)
print(type(results))

http://www.zillow.com/webservice/GetRegionChildren.htm?zws-id=X1-ZWz1hiqecilyq3_1mzvh&state=oh&city=cleveland&childtype=neighborhood
<class 'collections.OrderedDict'>

In [80]:
neigh = results['RegionChildren:regionchildren']['response']['list']['region']
neigh[0]

OrderedDict([('id', '271026'),
             ('name', 'Old Brooklyn'),
             ('zindex',
              OrderedDict([('@currency', 'USD'), ('#text', '67200')])),
             ('url',
              'http://www.zillow.com/local-info/OH-Cleveland/Old-Brooklyn/r_271026/'),
             ('latitude', '41.434653'),
             ('longitude', '-81.699439')])

In [88]:
zdf = pd.DataFrame(columns = ['Neighborhood','Median Home Value','Latitude','Longitude'])
i=0
for n in neigh:
    try:
        (n['zindex'])
        zdf.loc[i] = [n['name'],n['zindex']['#text'],n['latitude'],n['longitude']]
        i+=1
    except:
        print("{} has no zindex and so was not included".format(n['name']))
    
    
zdf.head()

University District has no zindex and so was not included
St. Claire-Superior has no zindex and so was not included
Goodrich-Kirkland Park has no zindex and so was not included
Industrial Valley has no zindex and so was not included
Cuyahoga Valley has no zindex and so was not included

       Neighborhood Median Home Value   Latitude   Longitude
0      Old Brooklyn             67200  41.434653  -81.699439
1     Kamm's Corner            102600  41.452172  -81.813446
2         Jefferson             58700  41.456077  -81.787534
3  Puritas-Longmead             53300  41.431929  -81.799845
4    West Boulevard             54500  41.458629    -81.7496

In [97]:
zdf['Median Home Value'] = pd.to_numeric(zdf['Median Home Value'])
zdf['Latitude'] = pd.to_numeric(zdf['Latitude'])
zdf['Longitude'] = pd.to_numeric(zdf['Longitude'])
zdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 4 columns):
Neighborhood         32 non-null object
Median Home Value    32 non-null int64
Latitude             32 non-null float64
Longitude            32 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ KB

In [ ]:
#on to 4square!