# Coursera Week 3 Part 1

In [53]:
import pandas as pd
import numpy as np
print("Importing complete")

Importing complete

Reading table

In [54]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [55]:
df['Borough'].value_counts()

Not assigned        77
Etobicoke           44
North York          38
Scarborough         37
Downtown Toronto    37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Queen's Park         1
Mississauga          1
Name: Borough, dtype: int64

In [56]:
df['Neighbourhood'].value_counts()

Not assigned                78
Runnymede                    2
St. James Town               2
Sullivan                     1
North Park                   1
West Deane Park              1
Newtonbrook                  1
L'Amoreaux East              1
Islington                    1
Weston                       1
Martin Grove Gardens         1
Kingsview Village            1
Emery                        1
Woburn                       1
King                         1
Cedarbrae                    1
Kingsway Park South West     1
Oakridge                     1
Downsview West               1
Don Mills South              1
Humber Bay Shores            1
CN Tower                     1
Markland Wood                1
King's Mill Park             1
Morningside                  1
Cloverdale                   1
Forest Hill North            1
Kingsway Park South East     1
Grange Park                  1
Humberlea                    1
                            ..
Martin Grove                 1
Del Ray                      1
Clairlea                     1
Swansea                      1
Northwest                    1
Leaside                      1
University of Toronto        1
Humewood-Cedarvale           1
Eringate                     1
Roselawn                     1
Bayview Village              1
Steeles East                 1
Dorset Park                  1
Wexford Heights              1
Railway Lands                1
Henry Farm                   1
Kennedy Park                 1
Parkview Hill                1
Mount Olive                  1
Summerhill West              1
South Niagara                1
York Mills West              1
Chinatown                    1
Parkdale                     1
Victoria Hotel               1
Old Burnhamthorpe            1
The Junction North           1
Parkdale Village             1
South of Bloor               1
Trinity                      1
Name: Neighbourhood, Length: 208, dtype: int64

## Clean 'Borough' column

In [57]:
df['Borough'].replace('Not assigned',np.nan,inplace=True)
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)
df['Borough'].value_counts()

Etobicoke           44
North York          38
Scarborough         37
Downtown Toronto    37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Queen's Park         1
Mississauga          1
Name: Borough, dtype: int64

## Clean 'Neighbourhood' column

In [58]:
#this finds nameless neighbourhoods
df['Neighbourhood'].replace('Not assigned',np.nan,inplace=True)
df[df.Neighbourhood.isna()]

  Postcode       Borough Neighbourhood
5      M7A  Queen's Park           NaN

In [59]:
#this renames the nameless neighbourhoods with their borough names
df.at[5,'Neighbourhood']=df.at[5,'Borough']
df.loc[5]

Postcode                  M7A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 5, dtype: object

## Collapse neighbourhoods into zipcodes

In [60]:
#this code groups the neighborhoods by postcode, then concatenates the neighborhoods
df1=df
df2 = pd.DataFrame(columns = df1.columns)
ix = 0
for key,value in df1.groupby(['Postcode']).groups.items():
    ns=''
    b = df1.loc[value[0]][1]
    for indexdf in value:
        n = df1.loc[indexdf][2]
        ns+= n + ", "
    ns=ns.rstrip(", ")
    df2.loc[ix] = [key,b,ns]
    ix+=1
    

df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [61]:
df2.shape

(103, 3)

# Coursera Week 3 Part 2

Geocoder was too unreliable, below is my code for my initial try, followed by reading in the CSV

In [62]:
#Geocoder too unreliable
#!conda install -c conda-forge geocoder --yes
#import geocoder

In [63]:
#This is how I'd try if geocoder worked
#new dataframe to merge later
'''df3 = pd.DataFrame(columns = ["Latitude","Longitude"])
df3.head()
for i in range(df2.shape[0]):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    count = 0
    while(lat_lng_coords is None):
        count+=1
        g = geocoder.google('{}, Toronto, Ontario'.format(df2.iloc[i][0]))
        lat_lng_coords = g.latlng
    print("Row " + str(i) + " took " + str(count) + " tries.")
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    #update dataframe
    df3.loc[i]=[latitude,longitude]
df3.head() '''

'df3 = pd.DataFrame(columns = ["Latitude","Longitude"])\ndf3.head()\nfor i in range(df2.shape[0]):\n    # initialize your variable to None\n    lat_lng_coords = None\n\n    # loop until you get the coordinates\n    count = 0\n    while(lat_lng_coords is None):\n        count+=1\n        g = geocoder.google(\'{}, Toronto, Ontario\'.format(df2.iloc[i][0]))\n        lat_lng_coords = g.latlng\n    print("Row " + str(i) + " took " + str(count) + " tries.")\n    latitude = lat_lng_coords[0]\n    longitude = lat_lng_coords[1]\n    #update dataframe\n    df3.loc[i]=[latitude,longitude]\ndf3.head() '

In [64]:
#Reading in provided csv worked flawlessly
df3 = pd.read_csv("Geospatial_Coordinates.csv")
df3.columns = ["Postcode","Latitude","Longitude"]
df3.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

## Part 2 final dataframe

In [65]:
df3=df3.merge(df2,on="Postcode")
df3.head()

,Postcode,Latitude,Longitude,Borough,Neighbourhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae

# Coursera Week 3 Part 3

Explore and cluster neighborhoods in Toronto.  Maps included.

In [73]:
#!conda install -c conda-forge folium=0.5.0 --yes 
import folium
import requests
import json
df4=df3
CLIENT_ID = '3B3T4ZAT2ADVQ15YL0QJ3H2DUFNYLBQ3W4J4KJWI5WDVG0PE' # your Foursquare ID
CLIENT_SECRET = 'YGXJYCHEJ410LTZKYP5FGQF4C1GQTOBTGMP0EJC1YTINVTSF' # your Foursquare Secret
VERSION = '20180604'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

torll = [43.6487,-79.38544]

Your credentails:
CLIENT_ID: 3B3T4ZAT2ADVQ15YL0QJ3H2DUFNYLBQ3W4J4KJWI5WDVG0PE
CLIENT_SECRET:YGXJYCHEJ410LTZKYP5FGQF4C1GQTOBTGMP0EJC1YTINVTSF

## Create map of neighborhoods for visualization

In [ ]:
# create map of Manhattan using latitude and longitude values
map_tor = folium.Map(location=torll, zoom_start=10)

# add markers to map
for lat, lng, label in zip(df3['Latitude'], df3['Longitude'], df3['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_tor)  
    
map_tor

## Foursquare exploration

In [130]:
#taking a look at how data is extracted for some item in our dataset
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, df3["Latitude"][11], df3["Longitude"][11], VERSION, 500, 20)
results = requests.get(url).json()
results=results['response']['groups'][0]['items']
results[0]['venue']['location']

{'lat': 43.746098,
 'lng': -79.293142,
 'labeledLatLngs': [{'label': 'display', 'lat': 43.746098, 'lng': -79.293142}],
 'distance': 492,
 'cc': 'CA',
 'country': 'Canada',
 'formattedAddress': ['Canada']}

 This loop calls foursquare for each post code and then lists the top 20 (if possible) venues within 1 km.

In [145]:
venuesdf = pd.DataFrame(columns = ["Postcode","Neighbourhood","Name","Category","vlat",'vlong'])
radius = 1000
lim=50
count=0
for ix in range(df4.shape[0]):
    
    [post,nlat,nlong,b,n] = df4.loc[ix]
    url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, nlat, nlong, VERSION, radius, lim)
    results = requests.get(url).json()['response']['groups'][0]['items']
    for venue in results:
        temp = venue['venue']
        venuesdf.loc[count]=[post,n,temp['name'],temp['categories'][0]['name'],temp['location']['lat'],temp['location']['lng']]
        count+=1
venuesdf.head()

,Postcode,Neighbourhood,Name,Category,vlat,vlong
0,M1B,"Rouge, Malvern",Images Salon & Spa,Spa,43.802283,-79.198565
1,M1B,"Rouge, Malvern",Caribbean Wave,Caribbean Restaurant,43.798558,-79.195777
2,M1B,"Rouge, Malvern",Wendy's,Fast Food Restaurant,43.802008,-79.198080
3,M1B,"Rouge, Malvern",Wendy's,Fast Food Restaurant,43.807448,-79.199056
4,M1B,"Rouge, Malvern",Staples Morningside,Paper / Office Supplies Store,43.800285,-79.196607

In [ ]:
#looking at trends in summary data
venuesdf.shape
venuesdf.groupby('Postcode').count()
#venuesdf.groupby('Category').count()

In [172]:
venuesdf2 = pd.get_dummies(venuesdf['Category'], prefix="", prefix_sep="")
venuesdf2['Neighbourhood'] = venuesdf.Neighbourhood

In [173]:

cols = venuesdf2.columns.tolist()
cols.reverse()
venuesdf3 = venuesdf2[cols]
venuesdf3.head()

,Neighbourhood,Zoo,Yoga Studio,Women's Store,Wings Joint,Wine Shop,Wine Bar,Warehouse Store,Vietnamese Restaurant,Video Store,...,Antique Shop,Animal Shelter,Amphitheater,American Restaurant,Airport Lounge,Airport,African Restaurant,Afghan Restaurant,Accessories Store,ATM
0,"Rouge, Malvern",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Rouge, Malvern",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Rouge, Malvern",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Rouge, Malvern",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Rouge, Malvern",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [175]:
venuesdf3.groupby('Neighbourhood').mean().reset_index()

,Neighbourhood,Zoo,Yoga Studio,Women's Store,Wings Joint,Wine Shop,Wine Bar,Warehouse Store,Vietnamese Restaurant,Video Store,...,Antique Shop,Animal Shelter,Amphitheater,American Restaurant,Airport Lounge,Airport,African Restaurant,Afghan Restaurant,Accessories Store,ATM
0,"Adelaide, King, Richmond",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.040000,0.000000,0.000000,0.000000,0.00,0.0,0.0
1,Agincourt,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.020000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
2,"Agincourt North, L'Amoreaux East, Milliken, St...",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
3,"Albion Gardens, Beaumond Heights, Humbergate, ...",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
4,"Alderwood, Long Branch",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
5,"Bathurst Manor, Downsview North, Wilson Heights",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
6,Bayview Village,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
7,"Bedford Park, Lawrence Manor East",0.00,0.000000,0.000000,0.027778,0.0,0.00,0.00,0.000000,0.027778,...,0.0,0.0,0.00,0.027778,0.000000,0.000000,0.000000,0.00,0.0,0.0
8,Berczy Park,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
9,"Birch Cliff, Cliffside West",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
10,"Bloordale Gardens, Eringate, Markland Wood, Ol...",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
11,"Brockton, Exhibition Place, Parkdale Village",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
12,Business Reply Mail Processing Centre 969 Eastern,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020833,0.000000,0.000000,0.000000,0.00,0.0,0.0
13,"CFB Toronto, Downsview East",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.043478,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.043478,0.000000,0.00,0.0,0.0
14,"CN Tower, Bathurst Quay, Island airport, Harbo...",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.066667,0.066667,0.000000,0.00,0.0,0.0
15,"Cabbagetown, St. James Town",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.027778,0.000000,0.000000,0.000000,0.00,0.0,0.0
16,Caledonia-Fairbanks,0.00,0.000000,0.043478,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
17,Canada Post Gateway Processing Centre,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
18,Cedarbrae,0.00,0.037037,0.000000,0.037037,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
19,Central Bay Street,0.00,0.020000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
20,"Chinatown, Grange Park, Kensington Market",0.00,0.000000,0.000000,0.000000,0.0,0.02,0.00,0.040000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
21,Christie,0.00,0.000000,0.000000,0.000000,0.0,0.02,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
22,Church and Wellesley,0.00,0.020000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
23,"Clairlea, Golden Mile, Oakridge",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
24,"Clarks Corners, Sullivan, Tam O'Shanter",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.027778,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
25,"Cliffcrest, Cliffside, Scarborough Village West",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
26,"Cloverdale, Islington, Martin Grove, Princess ...",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.066667,0.000000,0.000000,0.000000,0.00,0.0,0.0
27,"Commerce Court, Victoria Hotel",0.00,0.000000,0.000000,0.000000,0.0,0.02,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.040000,0.000000,0.000000,0.000000,0.00,0.0,0.0
28,Davisville,0.00,0.020000,0.000000,0.020000,0.0,0.02,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
29,Davisville North,0.00,0.040000,0.000000,0.000000,0.0,0.02,0.00,0.020000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,"Northwood Park, York University",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
72,"Parkdale, Roncesvalles",0.02,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.02,0.040000,0.000000,0.000000,0.000000,0.00,0.0,0.0
73,Parkwoods,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
74,Queen's Park,0.00,0.016129,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
75,Rosedale,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
76,Roselawn,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
77,"Rouge, Malvern",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.055556,0.00,0.0,0.0
78,"Runnymede, Swansea",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
79,"Ryerson, Garden District",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
80,Scarborough Village,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
81,"Silver Hills, York Mills",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
82,St. James Town,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
83,Stn A PO Boxes 25 The Esplanade,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
84,Studio District,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.020000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
85,"The Annex, North Midtown, Yorkville",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
86,The Beaches,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
87,"The Beaches West, India Bazaar",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
88,"The Danforth West, Riverdale",0.00,0.020000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
89,"The Junction North, Runnymede",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
90,"The Kingsway, Montgomery Road, Old Mill North",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
91,Thorncliffe Park,0.00,0.020000,0.000000,0.000000,0.0,0.00,0.02,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.04,0.0,0.0
92,Victoria Village,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
93,Westmount,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
94,Weston,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
95,Willowdale South,0.00,0.020000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.020000,0.000000,0.000000,0.000000,0.00,0.0,0.0
96,Willowdale West,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
97,Woburn,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
98,"Woodbine Gardens, Parkview Hill",0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
99,Woodbine Heights,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.033333,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0
100,York Mills West,0.00,0.000000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000,...,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0

# Testing cell

In [74]:
df3["Longitude"][0]

-79.19435340000001

In [127]:
for ix,row in df4.iterrows():
    print(row)

Postcode                    M1B
Latitude                43.8067
Longitude              -79.1944
Borough             Scarborough
Neighbourhood    Rouge, Malvern
Name: 0, dtype: object
Postcode                                            M1C
Latitude                                        43.7845
Longitude                                      -79.1605
Borough                                     Scarborough
Neighbourhood    Highland Creek, Rouge Hill, Port Union
Name: 1, dtype: object
Postcode                                       M1E
Latitude                                   43.7636
Longitude                                 -79.1887
Borough                                Scarborough
Neighbourhood    Guildwood, Morningside, West Hill
Name: 2, dtype: object
Postcode                 M1G
Latitude              43.771
Longitude           -79.2169
Borough          Scarborough
Neighbourhood         Woburn
Name: 3, dtype: object
Postcode                 M1H
Latitude             43.7731
Longitude           -79.2395
Borough          Scarborough
Neighbourhood      Cedarbrae
Name: 4, dtype: object
Postcode                         M1J
Latitude                     43.7447
Longitude                   -79.2395
Borough                  Scarborough
Neighbourhood    Scarborough Village
Name: 5, dtype: object
Postcode                                                 M1K
Latitude                                             43.7279
Longitude                                            -79.262
Borough                                          Scarborough
Neighbourhood    East Birchmount Park, Ionview, Kennedy Park
Name: 6, dtype: object
Postcode                                     M1L
Latitude                                 43.7111
Longitude                               -79.2846
Borough                              Scarborough
Neighbourhood    Clairlea, Golden Mile, Oakridge
Name: 7, dtype: object
Postcode                                                     M1M
Latitude                                                 43.7163
Longitude                                               -79.2395
Borough                                              Scarborough
Neighbourhood    Cliffcrest, Cliffside, Scarborough Village West
Name: 8, dtype: object
Postcode                                 M1N
Latitude                             43.6927
Longitude                           -79.2648
Borough                          Scarborough
Neighbourhood    Birch Cliff, Cliffside West
Name: 9, dtype: object
Postcode                                                       M1P
Latitude                                                   43.7574
Longitude                                                 -79.2733
Borough                                                Scarborough
Neighbourhood    Dorset Park, Scarborough Town Centre, Wexford ...
Name: 10, dtype: object
Postcode                       M1R
Latitude                   43.7501
Longitude                 -79.2958
Borough                Scarborough
Neighbourhood    Maryvale, Wexford
Name: 11, dtype: object
Postcode                 M1S
Latitude             43.7942
Longitude            -79.262
Borough          Scarborough
Neighbourhood      Agincourt
Name: 12, dtype: object
Postcode                                             M1T
Latitude                                         43.7816
Longitude                                       -79.3043
Borough                                      Scarborough
Neighbourhood    Clarks Corners, Sullivan, Tam O'Shanter
Name: 13, dtype: object
Postcode                                                       M1V
Latitude                                                   43.8153
Longitude                                                 -79.2846
Borough                                                Scarborough
Neighbourhood    Agincourt North, L'Amoreaux East, Milliken, St...
Name: 14, dtype: object
Postcode                     M1W
Latitude                 43.7995
Longitude               -79.3184
Borough              Scarborough
Neighbourhood    L'Amoreaux West
Name: 15, dtype: object
Postcode                 M1X
Latitude             43.8361
Longitude           -79.2056
Borough          Scarborough
Neighbourhood    Upper Rouge
Name: 16, dtype: object
Postcode                       M2H
Latitude                   43.8038
Longitude                 -79.3635
Borough                 North York
Neighbourhood    Hillcrest Village
Name: 17, dtype: object
Postcode                                  M2J
Latitude                              43.7785
Longitude                            -79.3466
Borough                            North York
Neighbourhood    Fairview, Henry Farm, Oriole
Name: 18, dtype: object
Postcode                     M2K
Latitude                 43.7869
Longitude                -79.386
Borough               North York
Neighbourhood    Bayview Village
Name: 19, dtype: object
Postcode                              M2L
Latitude                          43.7575
Longitude                        -79.3747
Borough                        North York
Neighbourhood    Silver Hills, York Mills
Name: 20, dtype: object
Postcode                             M2M
Latitude                         43.7891
Longitude                       -79.4085
Borough                       North York
Neighbourhood    Newtonbrook, Willowdale
Name: 21, dtype: object
Postcode                      M2N
Latitude                  43.7701
Longitude                -79.4085
Borough                North York
Neighbourhood    Willowdale South
Name: 22, dtype: object
Postcode                     M2P
Latitude                 43.7528
Longitude                  -79.4
Borough               North York
Neighbourhood    York Mills West
Name: 23, dtype: object
Postcode                     M2R
Latitude                 43.7827
Longitude               -79.4423
Borough               North York
Neighbourhood    Willowdale West
Name: 24, dtype: object
Postcode                M3A
Latitude            43.7533
Longitude          -79.3297
Borough          North York
Neighbourhood     Parkwoods
Name: 25, dtype: object
Postcode                     M3B
Latitude                 43.7459
Longitude               -79.3522
Borough               North York
Neighbourhood    Don Mills North
Name: 26, dtype: object
Postcode                                      M3C
Latitude                                  43.7259
Longitude                                -79.3409
Borough                                North York
Neighbourhood    Flemingdon Park, Don Mills South
Name: 27, dtype: object
Postcode                                                     M3H
Latitude                                                 43.7543
Longitude                                               -79.4423
Borough                                               North York
Neighbourhood    Bathurst Manor, Downsview North, Wilson Heights
Name: 28, dtype: object
Postcode                                     M3J
Latitude                                  43.768
Longitude                               -79.4873
Borough                               North York
Neighbourhood    Northwood Park, York University
Name: 29, dtype: object
Postcode                                 M3K
Latitude                             43.7375
Longitude                           -79.4648
Borough                           North York
Neighbourhood    CFB Toronto, Downsview East
Name: 30, dtype: object
Postcode                    M3L
Latitude                 43.739
Longitude              -79.5069
Borough              North York
Neighbourhood    Downsview West
Name: 31, dtype: object
Postcode                       M3M
Latitude                   43.7285
Longitude                 -79.4957
Borough                 North York
Neighbourhood    Downsview Central
Name: 32, dtype: object
Postcode                         M3N
Latitude                     43.7616
Longitude                    -79.521
Borough                   North York
Neighbourhood    Downsview Northwest
Name: 33, dtype: object
Postcode                      M4A
Latitude                  43.7259
Longitude                -79.3156
Borough                North York
Neighbourhood    Victoria Village
Name: 34, dtype: object
Postcode                                     M4B
Latitude                                 43.7064
Longitude                               -79.3099
Borough                                East York
Neighbourhood    Woodbine Gardens, Parkview Hill
Name: 35, dtype: object
Postcode                      M4C
Latitude                  43.6953
Longitude                -79.3184
Borough                 East York
Neighbourhood    Woodbine Heights
Name: 36, dtype: object
Postcode                  M4E
Latitude              43.6764
Longitude             -79.293
Borough          East Toronto
Neighbourhood     The Beaches
Name: 37, dtype: object
Postcode               M4G
Latitude           43.7091
Longitude         -79.3635
Borough          East York
Neighbourhood      Leaside
Name: 38, dtype: object
Postcode                      M4H
Latitude                  43.7054
Longitude                -79.3494
Borough                 East York
Neighbourhood    Thorncliffe Park
Name: 39, dtype: object
Postcode                  M4J
Latitude              43.6853
Longitude            -79.3381
Borough             East York
Neighbourhood    East Toronto
Name: 40, dtype: object
Postcode                                  M4K
Latitude                              43.6796
Longitude                            -79.3522
Borough                          East Toronto
Neighbourhood    The Danforth West, Riverdale
Name: 41, dtype: object
Postcode                                    M4L
Latitude                                 43.669
Longitude                              -79.3156
Borough                            East Toronto
Neighbourhood    The Beaches West, India Bazaar
Name: 42, dtype: object
Postcode                     M4M
Latitude                 43.6595
Longitude               -79.3409
Borough             East Toronto
Neighbourhood    Studio District
Name: 43, dtype: object
Postcode                     M4N
Latitude                  43.728
Longitude               -79.3888
Borough          Central Toronto
Neighbourhood      Lawrence Park
Name: 44, dtype: object
Postcode                      M4P
Latitude                  43.7128
Longitude                -79.3902
Borough           Central Toronto
Neighbourhood    Davisville North
Name: 45, dtype: object
Postcode                        M4R
Latitude                    43.7154
Longitude                  -79.4057
Borough             Central Toronto
Neighbourhood    North Toronto West
Name: 46, dtype: object
Postcode                     M4S
Latitude                 43.7043
Longitude               -79.3888
Borough          Central Toronto
Neighbourhood         Davisville
Name: 47, dtype: object
Postcode                                 M4T
Latitude                             43.6896
Longitude                           -79.3832
Borough                      Central Toronto
Neighbourhood    Moore Park, Summerhill East
Name: 48, dtype: object
Postcode                                                       M4V
Latitude                                                   43.6864
Longitude                                                    -79.4
Borough                                            Central Toronto
Neighbourhood    Deer Park, Forest Hill SE, Rathnelly, South Hi...
Name: 49, dtype: object
Postcode                      M4W
Latitude                  43.6796
Longitude                -79.3775
Borough          Downtown Toronto
Neighbourhood            Rosedale
Name: 50, dtype: object
Postcode                                 M4X
Latitude                              43.668
Longitude                           -79.3677
Borough                     Downtown Toronto
Neighbourhood    Cabbagetown, St. James Town
Name: 51, dtype: object
Postcode                          M4Y
Latitude                      43.6659
Longitude                    -79.3832
Borough              Downtown Toronto
Neighbourhood    Church and Wellesley
Name: 52, dtype: object
Postcode                      M5A
Latitude                  43.6543
Longitude                -79.3606
Borough          Downtown Toronto
Neighbourhood        Harbourfront
Name: 53, dtype: object
Postcode                              M5B
Latitude                          43.6572
Longitude                        -79.3789
Borough                  Downtown Toronto
Neighbourhood    Ryerson, Garden District
Name: 54, dtype: object
Postcode                      M5C
Latitude                  43.6515
Longitude                -79.3754
Borough          Downtown Toronto
Neighbourhood      St. James Town
Name: 55, dtype: object
Postcode                      M5E
Latitude                  43.6448
Longitude                -79.3733
Borough          Downtown Toronto
Neighbourhood         Berczy Park
Name: 56, dtype: object
Postcode                        M5G
Latitude                     43.658
Longitude                  -79.3874
Borough            Downtown Toronto
Neighbourhood    Central Bay Street
Name: 57, dtype: object
Postcode                              M5H
Latitude                          43.6506
Longitude                        -79.3846
Borough                  Downtown Toronto
Neighbourhood    Adelaide, King, Richmond
Name: 58, dtype: object
Postcode                                                       M5J
Latitude                                                   43.6408
Longitude                                                 -79.3818
Borough                                           Downtown Toronto
Neighbourhood    Harbourfront East, Toronto Islands, Union Station
Name: 59, dtype: object
Postcode                                              M5K
Latitude                                          43.6472
Longitude                                        -79.3816
Borough                                  Downtown Toronto
Neighbourhood    Design Exchange, Toronto Dominion Centre
Name: 60, dtype: object
Postcode                                    M5L
Latitude                                43.6482
Longitude                              -79.3798
Borough                        Downtown Toronto
Neighbourhood    Commerce Court, Victoria Hotel
Name: 61, dtype: object
Postcode                                       M5M
Latitude                                   43.7333
Longitude                                 -79.4197
Borough                                 North York
Neighbourhood    Bedford Park, Lawrence Manor East
Name: 62, dtype: object
Postcode                     M5N
Latitude                 43.7117
Longitude               -79.4169
Borough          Central Toronto
Neighbourhood           Roselawn
Name: 63, dtype: object
Postcode                                         M5P
Latitude                                     43.6969
Longitude                                   -79.4113
Borough                              Central Toronto
Neighbourhood    Forest Hill North, Forest Hill West
Name: 64, dtype: object
Postcode                                         M5R
Latitude                                     43.6727
Longitude                                   -79.4057
Borough                              Central Toronto
Neighbourhood    The Annex, North Midtown, Yorkville
Name: 65, dtype: object
Postcode                                    M5S
Latitude                                43.6627
Longitude                                 -79.4
Borough                        Downtown Toronto
Neighbourhood    Harbord, University of Toronto
Name: 66, dtype: object
Postcode                                               M5T
Latitude                                           43.6532
Longitude                                            -79.4
Borough                                   Downtown Toronto
Neighbourhood    Chinatown, Grange Park, Kensington Market
Name: 67, dtype: object
Postcode                                                       M5V
Latitude                                                   43.6289
Longitude                                                 -79.3944
Borough                                           Downtown Toronto
Neighbourhood    CN Tower, Bathurst Quay, Island airport, Harbo...
Name: 68, dtype: object
Postcode                                     M5W
Latitude                                 43.6464
Longitude                               -79.3748
Borough                         Downtown Toronto
Neighbourhood    Stn A PO Boxes 25 The Esplanade
Name: 69, dtype: object
Postcode                                            M5X
Latitude                                        43.6484
Longitude                                      -79.3823
Borough                                Downtown Toronto
Neighbourhood    First Canadian Place, Underground city
Name: 70, dtype: object
Postcode                                      M6A
Latitude                                  43.7185
Longitude                                -79.4648
Borough                                North York
Neighbourhood    Lawrence Heights, Lawrence Manor
Name: 71, dtype: object
Postcode                M6B
Latitude            43.7096
Longitude          -79.4451
Borough          North York
Neighbourhood     Glencairn
Name: 72, dtype: object
Postcode                        M6C
Latitude                    43.6938
Longitude                  -79.4282
Borough                        York
Neighbourhood    Humewood-Cedarvale
Name: 73, dtype: object
Postcode                         M6E
Latitude                      43.689
Longitude                   -79.4535
Borough                         York
Neighbourhood    Caledonia-Fairbanks
Name: 74, dtype: object
Postcode                      M6G
Latitude                  43.6695
Longitude                -79.4226
Borough          Downtown Toronto
Neighbourhood            Christie
Name: 75, dtype: object
Postcode                                  M6H
Latitude                               43.669
Longitude                            -79.4423
Borough                          West Toronto
Neighbourhood    Dovercourt Village, Dufferin
Name: 76, dtype: object
Postcode                              M6J
Latitude                          43.6479
Longitude                        -79.4197
Borough                      West Toronto
Neighbourhood    Little Portugal, Trinity
Name: 77, dtype: object
Postcode                                                  M6K
Latitude                                              43.6368
Longitude                                            -79.4282
Borough                                          West Toronto
Neighbourhood    Brockton, Exhibition Place, Parkdale Village
Name: 78, dtype: object
Postcode                                        M6L
Latitude                                    43.7138
Longitude                                  -79.4901
Borough                                  North York
Neighbourhood    Downsview, North Park, Upwood Park
Name: 79, dtype: object
Postcode                                                    M6M
Latitude                                                43.6911
Longitude                                               -79.476
Borough                                                    York
Neighbourhood    Del Ray, Keelesdale, Mount Dennis, Silverthorn
Name: 80, dtype: object
Postcode                                   M6N
Latitude                               43.6732
Longitude                             -79.4873
Borough                                   York
Neighbourhood    The Junction North, Runnymede
Name: 81, dtype: object
Postcode                                   M6P
Latitude                               43.6616
Longitude                             -79.4648
Borough                           West Toronto
Neighbourhood    High Park, The Junction South
Name: 82, dtype: object
Postcode                            M6R
Latitude                         43.649